<!DOCTYPE html>
<html ng-app="utaApp">
<head ng-controller="ctrl">
    <title>{{title}}</title>
</head>
<body ng-controller="ctrl">
    <header>        
        <h1>{{title}}</h1>
    </header>

    <section>
        <form ng-submit="add()">
            City: <input type="text" name="city" ng-model="destination.city"/>
            Country: <input type="text" name="country" ng-model="destination.country"/>
            <input type="submit" value="Add"/>
        </form>
    </section>

    <section>
        <h2>Trips</h2>
        <h4 ng-show="message">{{message}}</h4>
        <div ng-repeat="dest in destinations">
            <div ng-dir-destination dest="dest" api-key="apiKey" on-remove="remove($index)"></div>
        </div>
    </section>

    <section>
        <h2>Warmest</h2>
        <div ng-repeat="dest in destinations | warmest: 10">
            <span>{{dest.city}}, {{dest.country}}</span>
        </div>
    </section>

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
