<!DOCTYPE html>
<html ng-app="utaApp">
<head ng-controller="ctrl">
    <title>{{title}}</title>
</head>
<body ng-controller="ctrl">
    <header>        
        <h1>{{title}}</h1>
    </header>

    <section>
        <form ng-submit="add()">
            City: <input type="text" name="city" ng-model="destination.city"/>
            Country: <input type="text" name="country" ng-model="destination.country"/>
            <input type="submit" value="Add"/>
        </form>
    </section>

    <section>
        <h2>Trips</h2>
        <div ng-repeat="dest in destinations">
            <span>{{dest.city}}, {{dest.country}}</span>
            <span ng-if="dest.weather"> - {{dest.weather.main}}, {{dest.weather.temp}}</span>
            <button ng-click="remove($index)">Remove</button>
            <button ng-click="weather(dest)">Refresh</button>
        </div>
    </section>

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
